name: "Publish"

on:
  push:
    tags:
      - "v*"

permissions:
  contents: read
  packages: write
  id-token: write

jobs:
  smoke-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.12"
          enable-cache: true
      - name: Build
        run: uv build
      - name: Smoke test (wheel)
        run: uv run --isolated --no-project --with dist/*.whl --with pytest pytest
      - name: Smoke test (source distribution)
        run: uv run --isolated --no-project --with dist/*.tar.gz --with pytest pytest
      - name: Persist Dist
        uses: actions/upload-artifact@v6
        with:
          name: python-dist
          path: dist/

  coverage:
    needs: smoke-test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.12"
          enable-cache: true
      - name: Generate Coverage Report
        run: |
          uv sync --all-extras --dev
          uv pip install coverage-badge

          # Run tests and generate the SVG
          uv run pytest --cov=iotsim --cov-report=term-missing:skip-covered > pytest-coverage.txt
          uv run coverage-badge -o coverage.svg

      - name: Deploy Badge to Branch
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: .
          publish_branch: badges
          destination_dir: .
          # Only keep the coverage.svg file in that branch
          exclude_assets: ".git, .github, iotsim, .vscode, .devcontainer, tests, pyproject.toml, ty.toml, README.md, LICENSE, .python-version, .gitignore, .coveragerc, Dockerfile, uv.lock, README.md"

  publish-pypi:
    needs: smoke-test
    runs-on: ubuntu-latest
    environment:
      name: pypi

    steps:
      - uses: actions/download-artifact@v6
        with:
          name: python-dist
          path: dist/
      - uses: astral-sh/setup-uv@v7
      - run: uv publish

  github-release:
    needs: smoke-test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v7
        with:
          name: python-dist
          path: dist/
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*
          generate_release_notes: true
          draft: false
          prerelease: false

  deploy-docker:
    needs: smoke-test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v6
        with:
          name: python-dist
          path: dist/
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/iotsim:latest
            ghcr.io/${{ github.repository_owner }}/iotsim:${{ github.ref_name }}
