name: "Publish"

on:
  push:
    tags:
      - v*

jobs:
  run:
    runs-on: ubuntu-latest
    environment:
      name: pypi
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install Python 3.12
        run: uv python install 3.12
      - name: Build
        run: uv build
      - name: Smoke test (wheel)
        run: uv run --isolated --no-project --with dist/*.whl pytest
      - name: Smoke test (source distribution)
        run: uv run --isolated --no-project --with dist/*.tar.gz pytest
      - name: Publish
        run: uv publish
